<h1><%= t('guestbook') %></h1>

<table id="#guestbookMessages">
  <thead>
    <tr>
      <th><%= t('message') %></th>
      <th><%= t('name') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guestbooks.each do |guestbook| %>
      <tr>
        <td><%= guestbook.message %></td>
        <td><%= guestbook.name %></td>
        <td><%= link_to t('show'), guestbook, class: 'btn btn-info' %></td>
        <td><%=  link_to t('edit'), edit_guestbook_path(guestbook), class: 'btn btn-info' if current_user != nil && current_user.is_admin %></td>
        <td><%= link_to t('destroy'), guestbook, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' if current_user != nil && current_user.is_admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_guestbook_message') , new_guestbook_path,  class: 'btn btn-info' %>
