<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Sisällysluettelo</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Antti Matikainen", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to root_path do %>
              <i class="fa fa-home"><%= t('home') %></i>
          <% end %>
        </li>
        <li>
          <%= link_to guestbooks_path, 'data-no-turbolink' => true do %>
              <i class="fa fa-book"><%= t('guestbook') %></i>
          <% end %>
        </li>
      </ul>

      <%= render 'layouts/log_in' %>

    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>