<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Sisällysluettelo</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Blog", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home">Home</span>
          <% end %>
        </li>
        <li>
          <%= link_to guestbooks_path do %>
              <span class="glyphicon glyphicon-book">Guestbook</span>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
              <span class="glyphicon glyphicon-inbox">Posts</span>
          <% end %>
        </li>
        <li>
          <%= link_to products_path do %>
              <span class="glyphicon glyphicon-phone-alt">Products</span>
          <% end %>
        </li>
      </ul>
    </div>
    <!-- /.nav-collapse -->
  </div>
  <!-- /.container -->
</div>
<!-- /.navbar -->
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div id="content" class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Sisällysluettelo</button>
      </p>
        <%= yield %>
    </div>
    <!--/span-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="list-group">
        <%= link_to root_path, class: 'list-group-item' do %>
            <span class="glyphicon glyphicon-home">Home</span>
        <% end %>
        <%= link_to guestbooks_path, class: 'list-group-item' do %>
            <span class="glyphicon glyphicon-book">Guestbook</span>
        <% end %>
        <%= link_to posts_path, class: 'list-group-item' do %>
            <span class="glyphicon glyphicon-inbox">Posts</span>
        <% end %>
        <%= link_to products_path, class: 'list-group-item' do %>
            <span class="glyphicon glyphicon-phone-alt">Products</span>
        <% end %>


      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <hr>

  <footer>
    <h6>
      <p>© 2014 Antti Matikainen </p>
    </h6>
  </footer>
</div>
<!--/.container-->

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
