<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
<header>
 Blog
</header>	
<nav>
	<%= link_to 'Home', root_path %>	
	<%= link_to 'Guest book', guestbook_index_path %>	
</nav>
<div id='main'>	
	<%= yield %>
</div>
</div>
</body>
</html>
